<!DOCTYPE html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Site Maintenance</title>
	<link rel="shortcut icon" href="/favicon.ico?v=2">
	<style>
		body { text-align: center; padding-top: 15px; }
		h1 { font-size: 50px; }
		body { font: 20px Helvetica, sans-serif; color: #333; }
		article { display: block; text-align: left; width: 650px; margin: 0 auto; }
		a { color: #dc8100; text-decoration: none; }
		a:hover { color: #333; text-decoration: none; }
	</style>
</head>
<body>
	<article>
		<h1>We&rsquo;ll be back soon!</h1>
		<div>
			<p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. Go to our <a href="https://www.facebook.com/edcuporganizing">Facebook page</a> or send us an <a href="mailto:edcuporganizing@gmail.com">email</a> if you want to contact us or see the latest news, otherwise we&rsquo;ll be back online shortly!</p>
			<p>&mdash; EDCuporganizing</p>
			<br>
			<div style="text-align: center;"><span style="font-size: 16px;">Last event (GTC Season 1 2015):</span><br><iframe width="560" height="315" src="https://www.youtube.com/embed/ZsLAWGPxl4g" frameborder="0" allowfullscreen></iframe></div>
		</div>
	</article>
	<p style="position: fixed; bottom: 0; width:100%; text-align: center; font-size: 10px;">Copyright &#169; 2014-<script>document.write(new Date().getFullYear())</script> EDCuporganizing</p>
</body>